.detail-container {
    min-height: 82vh;

    .film-card {
        width         : 85%;
        display       : flex;
        flex-direction: row;

        .card-img-top {
            width: 30%;
        }

        .card-body {
            padding-top : 2%;
            padding-left: 2%;

            .film-title {
                font-size: 1.5em;
            }

            .year {
                color: gray;
            }

            .country {
                color: gray;
            }

            .info-title {
                font-size    : 1.2em;
                font-weight  : 600;
                margin-top   : 2%;
                margin-bottom: 1%;
            }

            .info {
                text-align: justify;
            }
        }

    }
}