.film-container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;

    .film {
        width     : 30%;
        margin-top: 3%;
        text-align: center;

        img {
            height: 60vh;
        }

        .detail {
            background-color: black;
            color           : white;
        }

        .team {
            color        : gray;
            border-bottom: none;
        }

        .name {
            font-weight  : 700;
            border-bottom: none;
        }
    }
}

.film-modal {
    .modal-content {
        .modal-header {
            border-bottom : none;
            padding       : 10px;
            padding-bottom: 0;

            img {
                width        : 100%;
                border-radius: 5px;
            }

            .btn-close {
                position: absolute;
                top     : 30px;
                right   : 30px;
                color   : #321515;
            }
        }

        .modal-body {
            .modal-title {
                margin-bottom   : 30px;
                margin-top      : 20px;
                background-color: black;
                color           : white;
                padding         : 2%;
                border-radius   : 15px;
                padding-left    : 5%;
            }

            .detail {
                font-weight  : 500;
                font-size    : 1.2em;
                margin-bottom: 30px;
            }
        }
    }
}