.profile {
    min-height: 85vh;
    padding   : 3rem 6rem;

    .btn-tab {
        width     : 30%;
        box-shadow: 0px 2px 5px #000000;

        .account-tab {
            background-color: white;
            color           : black;
            border-color    : white;

            &.active {
                background-color: #0d6efd;
                border-color    : #0d6efd;
                color           : white;
            }
        }

        .password-tab {
            background-color: white;
            color           : black;
            border-color    : white;

            &.active {
                background-color: #0d6efd;
                border-color    : #0d6efd;
                color           : white;
            }
        }
    }

    .account {
        padding: 3% 0;

        .title {
            font-weight: 500;
            font-size  : 1.3em;
        }

        .description {
            color        : gray;
            margin-top   : 1%;
            margin-bottom: 3%;
        }

        .label {
            color: gray;
        }

    }

    .change-password {
        padding: 3% 0;

        .label {
            font-weight: 600;
        }
    }
}