.footer-container {
    background-color: #e7e742;
    height          : 5vh;
    margin-top      : 5%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 2%;
}